<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>



</script>
</body>
<footer>
  <div class="footer d-none d-lg-block">
    <div class="row">
      <div class="col-4">
        <div class="footer_item">
          <div class="row">
            <div class="col-12 first">
              <strong>ABOUT</strong>
            </div>
            <div class="col-12">
              About us
            </div>
            <div class="col-12">
              Careers
            </div>
            <div class="col-12">
              Privacy
            </div>
            <div class="col-12">
              Terms Of Use
            </div>
          </div>

        </div>

      </div>
      <div class="col-4">
        <div class="footer_item">
          <div class="row">
            <div class="col-12 first">
              <strong>SHOPS</strong>
            </div>
            <div class="col-12">
              Monday-Friday 11:00-20:00
            </div>
            <div class="col-12">
              Kedron 207
            </div>
            <div class="col-12">
              Marathon, 19005
            </div>
            <div class="col-12">
              Phone: 2294099273
            </div>
          </div>
        </div>


      </div>
      <div class="col-4">
        <div class="footer_item">
          <div class="row">
            <div class="col-12 first">
              <strong>CUSTOMER SERVICE</strong>
            </div>
            <div class="col-12">
              Shipping
            </div>
            <div class="col-12">
              Online Returns
            </div>
            <div class="col-12">
              Size Guide
            </div>
            <div class="col-12">
              FAQ
            </div>
          </div>
        </div>


      </div>


    </div>
  </div>


  Copyright, Achilles and Partners.
</footer>

</html>
