<%- include("partials/header") -%>

<div class="contact">
  <hr>
  <div class="row">
    <div class="col-4">
      <i class="fa-solid fa-phone fa-2x"></i>
    </div>
    <div class="col-4">
      <i class="fa-solid fa-envelope fa-2x"></i>
    </div>
    <div class="col-4">
      <i class="fa-solid fa-address-book fa-2x"></i>
    </div>

  </div>

  <div class="row mt-5">
    <div class="col-4">
      6945579388
    </div>
    <div class="col-4">
      filipachlouk@gmail.com
    </div>
    <div class="col-4">
      Kedron 207
    </div>

  </div>
  <hr>

</div>




<%- include("partials/footer") -%>
