<%- include("partials/header") -%>

<div class="contact">
  <hr>
  <div class="row">
    <div class="col-lg-4">
      <div class="row">
        <div class="col-12">
          <i class="fa-solid fa-phone fa-2x"></i>
        </div>
        <div class="col-12 mt-5">
          +30 6945579388
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="col-12">
          <i class="fa-solid fa-envelope fa-2x"></i>
        </div>
        <div class="col-12 mt-5">
          filipachlouk@gmail.com

        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="col-12">
          <i class="fa-solid fa-address-book fa-2x"></i>
        </div>
        <div class="col-12 mt-5">
          Kedron 207
        </div>
        <div class="col-12">
          Marathon, 19005
        </div>
      </div>

    </div>


  </div>
  <hr>

</div>




<%- include("partials/footer") -%>
