<%- include("partials/header") -%>

<div class="thankForOrder">
  <h2>Thank you for your order.</h2>
  <h6>An email will be sent for your order's details.</h6>
  <i class="fa-solid fa-truck fa-3x fa-bounce"></i>
</div>




<%- include("partials/footer") -%>
